LZAI.Service/Connected Services/LZGPS/LZGPSDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRealTimeGPS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRealTimeGPSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRealTimeGPSResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCarGPS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="plate_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="etime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCarGPSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCarGPSResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ins_LZCarsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="plate_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ins_LZCarsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Ins_LZCarsListResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Del_LZCarsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="plate_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Del_LZCarsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Del_LZCarsListResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRealTimeGPSSoapIn">
    <wsdl:part name="parameters" element="tns:GetRealTimeGPS" />
  </wsdl:message>
  <wsdl:message name="GetRealTimeGPSSoapOut">
    <wsdl:part name="parameters" element="tns:GetRealTimeGPSResponse" />
  </wsdl:message>
  <wsdl:message name="GetCarGPSSoapIn">
    <wsdl:part name="parameters" element="tns:GetCarGPS" />
  </wsdl:message>
  <wsdl:message name="GetCarGPSSoapOut">
    <wsdl:part name="parameters" element="tns:GetCarGPSResponse" />
  </wsdl:message>
  <wsdl:message name="Ins_LZCarsListSoapIn">
    <wsdl:part name="parameters" element="tns:Ins_LZCarsList" />
  </wsdl:message>
  <wsdl:message name="Ins_LZCarsListSoapOut">
    <wsdl:part name="parameters" element="tns:Ins_LZCarsListResponse" />
  </wsdl:message>
  <wsdl:message name="Del_LZCarsListSoapIn">
    <wsdl:part name="parameters" element="tns:Del_LZCarsList" />
  </wsdl:message>
  <wsdl:message name="Del_LZCarsListSoapOut">
    <wsdl:part name="parameters" element="tns:Del_LZCarsListResponse" />
  </wsdl:message>
  <wsdl:portType name="LZGPSDataServiceSoap">
    <wsdl:operation name="GetRealTimeGPS">
      <wsdl:input message="tns:GetRealTimeGPSSoapIn" />
      <wsdl:output message="tns:GetRealTimeGPSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCarGPS">
      <wsdl:input message="tns:GetCarGPSSoapIn" />
      <wsdl:output message="tns:GetCarGPSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ins_LZCarsList">
      <wsdl:input message="tns:Ins_LZCarsListSoapIn" />
      <wsdl:output message="tns:Ins_LZCarsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Del_LZCarsList">
      <wsdl:input message="tns:Del_LZCarsListSoapIn" />
      <wsdl:output message="tns:Del_LZCarsListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LZGPSDataServiceHttpGet" />
  <wsdl:portType name="LZGPSDataServiceHttpPost" />
  <wsdl:binding name="LZGPSDataServiceSoap" type="tns:LZGPSDataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRealTimeGPS">
      <soap:operation soapAction="http://tempuri.org/GetRealTimeGPS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarGPS">
      <soap:operation soapAction="http://tempuri.org/GetCarGPS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ins_LZCarsList">
      <soap:operation soapAction="http://tempuri.org/Ins_LZCarsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del_LZCarsList">
      <soap:operation soapAction="http://tempuri.org/Del_LZCarsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LZGPSDataServiceSoap12" type="tns:LZGPSDataServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRealTimeGPS">
      <soap12:operation soapAction="http://tempuri.org/GetRealTimeGPS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarGPS">
      <soap12:operation soapAction="http://tempuri.org/GetCarGPS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ins_LZCarsList">
      <soap12:operation soapAction="http://tempuri.org/Ins_LZCarsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Del_LZCarsList">
      <soap12:operation soapAction="http://tempuri.org/Del_LZCarsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LZGPSDataServiceHttpGet" type="tns:LZGPSDataServiceHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="LZGPSDataServiceHttpPost" type="tns:LZGPSDataServiceHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="LZGPSDataService">
    <wsdl:port name="LZGPSDataServiceSoap" binding="tns:LZGPSDataServiceSoap">
      <soap:address location="http://192.168.1.96/GPSService/LZGPSDataService.asmx" />
    </wsdl:port>
    <wsdl:port name="LZGPSDataServiceSoap12" binding="tns:LZGPSDataServiceSoap12">
      <soap12:address location="http://192.168.1.96/GPSService/LZGPSDataService.asmx" />
    </wsdl:port>
    <wsdl:port name="LZGPSDataServiceHttpGet" binding="tns:LZGPSDataServiceHttpGet">
      <http:address location="http://192.168.1.96/GPSService/LZGPSDataService.asmx" />
    </wsdl:port>
    <wsdl:port name="LZGPSDataServiceHttpPost" binding="tns:LZGPSDataServiceHttpPost">
      <http:address location="http://192.168.1.96/GPSService/LZGPSDataService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>